.card {
    max-width: 35%;
    margin-top: 50px;
}

#closeBtn {
    background-color: darkgrey;
    box-shadow: 1px 1px 0px #696a72 !important;
    color: white;
}

#createBtn {
    box-shadow: 1px 1px 0px #696a72 !important;
    color: white;
}

